/* 
main
form
input 
button
UL
Li
*/


header{
  display: flex;
  justify-content: center;
}



.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.taskInput {
  padding-block: 20px 20px ;
}
  

.inputLabel{
  display: flex;
  flex-direction: column ;
} 


.form {
    display: flex;
    gap: 30px;
}





