/* 
main
form
input 
button
UL
Li
*/


.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

/*.taskInput{
  display: block;
} */

.inputLabel{
  display: flex;
  flex-direction: column ;
}


.form {
    display: flex;
}




